@use 'abstracts/variables' as *;
@use 'base/reset';

:root {
  --primary-color: #{$color-primary};
  --accent-color: #{$color-accent};
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@keyframes borderRotate {
  from { filter: hue-rotate(0deg); }
  to { filter: hue-rotate(360deg); }
}
