.services {
  padding: 10rem 10vw;
  background-color: transparent;

  @include respond-to(sm) {
    padding: 5rem 5vw;
  }

  &__header {
    margin-bottom: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
    gap: 2rem;
    width: 100%;

    @include respond-to(sm) {
      grid-template-columns: 1fr;
    }
  }
}
